# General
.*
!.gitignore
!.github
!.gitmodules

!.pre-commit-config.yaml

# Sandbox
sandbox*

# CAD
*.FCStd1
*.stl
*.x3g

# Python

__pycache__
build

## Distribution / packaging

*.egg-info
dist/
# build/

## UV

uv.lock
